@font-face
{
	font-family: Chachie;
	src: url('../fonts/CHACHIE.TTF'),
		 url('../fonts/CHACHIE.eot'); /* IE9 */;
}

@font-face
{
	font-family: PetitLatin;
	src: url('../fonts/PetitLatin.ttf'),
		 url('../fonts/PetitLatin.eot');
}

body {
	margin: 0px;
	padding: 0px;
}

#home, #enter {
	background-image: url('../img/background1.png');
	width: 100%;
	padding-top: 10px;
}

#prizes {
	background-image: url('../img/background2.png');
	width: 100%;
}

#prizes_background_overlay {
	background-image: url('../img/background1.png');
}

.nav_active {
	padding: 10px 20px;
	background-color: #c7c7c7;
	border-radius: 8px;
}

.nav_passive {
	padding: 10px 20px;
}

.menu_nav {
	list-style-type: none;
	float: right;
	margin-top: 120px;
}

.menu_nav li {
	float: left;
	margin-left: 25px;
}

.menu_nav li a {
	font-family: Chachie;
	font-size: 46px;
	color: #ffffff;
	text-decoration: none;
}

.footer {
	
}

.footer_nav {
	list-style-type: none;
	float: right;
	margin-top: 38px;
	margin-right: 25px;
}

.footer_nav li {
	font-family: PetitLatin;
	font-size: 20px;
	color: #ffffff;
	float: left;
	margin-left: 10px;
}

.footer_nav li a {
	font-family: PetitLatin;
	font-size: 20px;
	color: #ffffff;
	text-decoration: none;
}

.footer_line {
	border: 2px dashed #ffffff;
}


.image_frame img {
	background-color: #98becd;
	border: 15px solid #98becd;
	border-radius: 10px;
	cursor: pointer;
}

.image_frame img:hover {
	background-color: #ffffff;
	border: 15px solid #ffffff;
	transform: scale(1.2,1.2);
  	-ms-transform: scale(1.2,1.2); /* IE 9 */
  	-webkit-transform: scale(1.2,1.2); /* Safari and Chrome */
  	-o-transform: scale(1.2,1.2); /* Opera */
  	-moz-transform: scale(1.2,1.2); /* Firefox */
}

.image_caption {
	font-family: PetitLatin;
	font-size: 33px;
	color: #ffffff;
	margin-top: 20px;
}

.input_text {
	font-family: PetitLatin;
	font-size: 28px;
	color: #999999;
	border: none;
	border-radius: 8px;
	width: 420px;
	height: 62px;
}

.input_space {
	margin: 0px 0px 22px 120px;
	padding: 0px 25px;
}

.select_field {
	width: 450px;	
}

.select_label {
	font-family: PetitLatin;
	font-size: 25px;
	color: #ffffff;
	width: 248px;
	float: left;
}

.select_input {
	float: right;
}

.select_input select {
	font-family: PetitLatin;
	font-size: 28px;
	color: #999999;
	background-color: #ffffff;
	border: none;
	border-radius: 8px;
	width: 98px;
	height: 62px;
}

.select_input select option {
	text-align: center;
}

.submit {
	background-color: transparent;
	background-image: url("../img/submit_button.png");
	border: none;
	font-family: Chachie;
	font-size: 105px;
	color: #ffffff;
	text-align: center;
	width: 277px;
	height: 133px;
	margin-left: 25px;
	padding-top: 25px;
	cursor: pointer;
}

.overlay_background {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 999;
	background-color: #000000;
	opacity: 0.7;
	width: 100%;
}

.overlay_window {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1000;
	background-color: #ffffff;
	width: 860px;
	height: 408px;
}

.overlay_window h2 {
	font-family: PetitLatin;
	font-size: 23px;
	color: #000000;
	margin: 65px 100px 48px 100px;
}

.overlay_window p {
	font-family: PetitLatin;
	font-size: 15px;
	color: #666666;
	margin: 48px 100px;
}

.overlay_window img {
	position: absolute;
	top: 15px;
	right: 15px;
	cursor: pointer;
}

.center {
	text-align: center;
}

.title {
	font-family: Chachie;
	font-size: 105px;
	color: #ffffff;
	margin: 85px 0px 52px 0px;
}

.content {
	width: 960px;
	margin: auto;
}

.width_100 {
	width: 100%;
	float: left;
}

.width_50 {
	width: 50%;
	float: left;
}

.clear {
	clear: both;
	height: 65px;
}
