body {
	background: url('../img/siteBG.jpg');
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: #000000;
}

hr {
	height: 2px;
	color: #1B3A68;
	background-color: #1B3A68;
	border: none;
	margin-top: 10px;
	margin-bottom: 20px;
}

ul {
	padding-left: 20px;
}

.body {
	margin: 20px;
	padding: 0px;
}

.font_tiny {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.font_small {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.font_medium {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
}

.font_large {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
}

.font_strong {
	font-weight: bold;
}

.font_blue {
	color: #1B3A68;
}

.font_grey {
	color: #666666;
}

.sides_tiny {
	margin: 0px 10px;
}

.sides_small {
	margin: 0px 20px;
}

.sides_medium {
	margin: 0px 40px;
}

.sides_large {
	margin: 0px 80px;
}

#header {
	
}

#header .logo {
	background: url('../img/footerBG.png');
	text-align: center;
	padding: 10px 0px;
}

#header .slider {
	background: url('../img/navLineSlideDown.png') repeat-x;
	text-align: center;
}

#header .slider .button {
	background: url('../img/navSlideDown.png') no-repeat;
	text-align: center;
	width: 36px;
	height: 33px;
	margin: auto;
}

#header .slider .button:hover {
	background: url('../img/navSlideDownHover.png') no-repeat;
	cursor: pointer;
}
