.form_field {
	margin: 10px 0px;
	display: block;
}

.form_element {
	margin: 0px 0px;
	display: block;
}

.form_submit {
	text-align: center;
	display: block;
}

.form_element input[type=text] {
	border: 1px solid grey;
	border-radius:5px;
	width: 200px;
	height:25px;
	padding: 5px;
}

.form_submit input[type=submit] {
	border: 1px solid grey;
	border-radius:5px;
	width: 200px;
	height:25px;
	padding: 5px;
	cursor: pointer;
}

.form_element textarea {
	border: 1px solid grey;
	border-radius:5px;
	width: 400px;
	height:200px;
	padding: 5px;
}

.processing {
	font-size: 14px;
	font-style: italic;
}

.error {
	font-size: 14px;
	font-style: italic;
	color: red;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.link a {
  text-decoration: none;
  color: #0000FF;
}

.link a:hover {
  color: #0000FF;
  font-weight: bold;
}

.link a:visited {
  color: #0000FF;
}

#home {
  width: 700px;
  margin: auto;
  text-align: center;
}

#home #header {
  height: 200px;
}

#home #body #item_selections {
  
}

#home #body .item_icon {
  display: inline;
  margin: 0px 10px;
  cursor: pointer;
}

#home #body .active img {
  transform: rotate(15deg);
  -ms-transform: rotate(15deg); /* IE 9 */
  -webkit-transform: rotate(15deg); /* Safari and Chrome */
  -o-transform: rotate(15deg); /* Opera */
  -moz-transform: rotate(15deg); /* Firefox */
}

#home #body .item_icon:hover img {
  transform: scale(1.2,1.2);
  -ms-transform: scale(1.2,1.2); /* IE 9 */
  -webkit-transform: scale(1.2,1.2); /* Safari and Chrome */
  -o-transform: scale(1.2,1.2); /* Opera */
  -moz-transform: scale(1.2,1.2); /* Firefox */
}

#home #body .item_description {
  width: 700px;
  display: none;
  overflow: hidden;
  margin: 50px auto;
  font-size: 12pt;
  text-align: justify;
}

#home #body .item_description .title {
  margin: 0px;
  font-weight: bold;
}

#home #body .item_description .link {
  display: inline;
  font-size: 12pt;
}

#home #body .item_description .close {
  float: right;
  font-size: 12pt;
}

#home #body .item_description .close a {
  font-size: 12pt;
}

#home #body #twitter {
  width: 350px;
  margin: 60px auto;
}

#home #body #twitter .twtr-tweet-text {
  font-size: 14pt;
}

#email_me {
	background-color: deepSkyBlue;
	font-size: 18px;
	font-weight: bold;
	color: #ffffff;
	border: 5px solid deepSkyBlue;
	border-radius: 5px;
	width: 120px;
	height: 80px;
	cursor: pointer;
}

#email_me:active {
	opacity: 0.6;
}

#overlay_background {
	background-color: #000000;
	opacity: 0.6;
	position: absolute;
	top: 0px;
	z-index: 999;
}

#overlay_window {
	background-color: #ffffff;
	box-shadow: 2px 2px 5px #000000;
	padding: 20px;
	position: absolute;
	top: 0px;
	z-index: 1000;
}

#overlay_close_button {
	background-color: #ffffff;
	padding: 3px;
	border: 5px solid #000000;
	border-radius:20px;
	position: absolute;
	top: -15px;
	right: -15px;
	z-index: 9999;
	cursor: pointer;
}

#visitors #menu {
  height: 50px;
  margin: 20px 0px 0px 0px;
}

#visitors #list_header {
  font-weight: bold;
  height: 50px;
}

#visitors #list_header .background {
  background-color: gray;
  width: 100%;
  height: 50px;
  position: absolute;
  left: 0px;
  z-index: -99;
}

#visitors #list_header p {
  margin: 15px auto;
}
